/paraphrase-MiniLM/1_Pooling/
/paraphrase-MiniLM/config.json
/paraphrase-MiniLM/modules.json
/paraphrase-MiniLM/pytorch_model.bin
/paraphrase-MiniLM/sentence_bert_config.json
/paraphrase-MiniLM/tokenizer.json
/paraphrase-MiniLM/tokenizer_config.json
*.pyc
/faiss_rag/file_index.json
/faiss_rag/index.bin
/faiss_rag/metadata.json
/llm_qwen/qwen2.5-7b-instruct-q4_k_m.gguf
/paraphrase-MiniLM/special_tokens_map.json
/paraphrase-MiniLM/vocab.txt
/paraphrase-MiniLM/config_sentence_transformers.json
/paraphrase-MiniLM/model.safetensors
/paraphrase-MiniLM/README.md
